body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffc3c5;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position:relative;
    bottom:0;
    width:100%;
}

/* Стили для главной страницы */
.hero {
    text-align: center;
    margin-bottom: 30px;
}

.hero img {
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e4007f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.highlights {
    margin-bottom: 30px;
}

.highlight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.highlight {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.highlight img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Стили для страницы о культуре */
.culture-overview {
    text-align: center;
    margin-bottom: 30px;
}

.culture-overview img {
    max-width: 500px;
    height: auto;
    border-radius: 5px;
}

.culture-elements ul {
    list-style: disc;
    margin-left: 20px;
}

/* Стили для страницы о кухне */
.dish-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.dish {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.dish img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Стили для страницы о путешествиях */
.destination-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.destination {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.destination img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
